<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>hello</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/student-list">All Students</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
